syntax: glob

# Vim files
*~
*.swp
*.swo

# Intellij
.idea/
*.iml
*.iws

# Eclipse
.classpath
.project
.settings/

# Maven
target/
dist/
pom.xml.tag
pom.xml.releaseBackup
pom.xml.versionsBackup
pom.xml.next
release.properties
dependency-reduced-pom.xml
buildNumber.properties

# Log files
*.log
application.properties